# Archives
*.tar
*.zip

# Build
build
*.eggs
**/egg/**
public

# IDE files
**/.vscode/**
**/.idea/**
**/node_modules/**

# Cache files
.ipynb_checkpoints/
*.pyc
*.npy

# Model files
*.pth.tar

**/.deploy_git/**