[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/probberechts/hexo-theme-cactus
